---
BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
UseTab: ForIndentation
TabWidth: 4
# BreakConstructorInitializersStyle: BCIS_BeforeColon
# ConstructorInitializerAllOnOneLineOrOnePerLine: false
---
